{% load static %}
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{% static  'devicemanagement/css/bootstrap.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static  'devicemanagement/css/dashboard.css' %}" type="text/css" /> 
<link rel="stylesheet" href="{% static  'devicemanagement/css/fontawesome.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static  'devicemanagement/css/dataTables.bootstrap.min.css' %}" type="text/css" />


<link rel="stylesheet" href="{% static  'devicemanagement/css/bootstrap-select.min.css' %}" type="text/css" />




<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link rel="stylesheet" href="{% static  'devicemanagement/css/ie10-viewport-bug-workaround.css' %}" type="text/css" />

