{% load static %}
<script type="text/javascript" src="{% static 'assetmgt/js/jquery.dataTables.min.js' %}"></script>  
  <script type="text/javascript" src="{% static 'assetmgt/js/dataTables.bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assetmgt/js/buttons.html5.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assetmgt/js/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assetmgt/js/vfs_fonts.js' %}"></script>


<script type="text/javascript" src="{% static 'assetmgt/js/dataTables.buttons.min.js' %}"></script>    

<script type="text/javascript" src="{% static 'assetmgt/js/jszip.min.js' %}"></script>    

<script type="text/javascript" src="{% static 'assetmgt/js/buttons.colVis.min.js' %}"></script>    

 

