{% load static %}
 <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'devicemanagement/js/new/ie-emulation-modes-warning.js' %}"></script>


<script type="text/javascript" src="{% static 'devicemanagement/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'devicemanagement/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'devicemanagement/js/Chart.min.js' %}"></script>


<script type="text/javascript" src="{% static 'devicemanagement/js/bootbox.min.js' %}"></script>



<script type="text/javascript" src="{% static 'devicemanagement/js/new/holder.min.js' %}"></script>
<script type="text/javascript" src="{% static 'devicemanagement/js/bootstrap-select.min.js' %}"></script>

<script type="text/javascript" src="{% static 'devicemanagement/js/new/ie10-viewport-bug-workaround.js' %}"></script>

<script>window.jQuery || document.write("<script src="+"{% static 'devicemanagement/js/jquery.min.js' %}"+"><\/script>")</script>


