html,
body {
    height: 100%;
    margin: 0;
}
#map {
    height: 600px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.popup {
    font-size: 14px;
}

.leaflet-container {
    background-color:rgba(255,0,0,0.0);
}

.ak-alert { background-color: #F8D8D9;  }

a.brand-link ,a.brand-link:hover { color: inherit; text-decoration: none; font-size: 1.25rem; line-height: 1.5; } 
/* 
Used vs free

 */