
{% extends 'assetmgt/base.html' %}
{% block 'title' %} Add Hospital {% endblock %}
{% block 'content' %}

		<div ><!-- for row -->

<div class="row mt-3">
	  <div class="col-lg-12 ">
                <div class="card">
                  <div class="card-body">
{% if usr.adminstate > 0 %}
		<input type="radio" id="single"  name="hospitaldata" value="1"><label for="single">Add Hospital</label>
		<input type="radio" id="multiple" class= "btn radio-inline btn-primary" name="hospitaldata" value="0"><label for="multiple">Upload Hospital Data</label>
		<a class="btn btn-info pull-right"href="{% url 'gethospitalxls' %}" download >Download Hospital Upload xls</a>
		{% else %}
		<input type="radio" id="edit" name="hospitaldata" value="2"><label for="multiple">Edit Hospital Data</label>
		{% endif %}

</div></div></div></div>


	 <div class="row mt-3">
	  <div class="col-lg-12 ">
                <div class="card">
                  <div class="card-body">
	

	<div id="forbulk" > <!-- for render file browser -->
		<!-- <form name="addbulk" id="bulkhospitalform" method="post" action="{% url 'addhospitalcsv' %}" enctype="multipart/form-data" > -->
		<form name="addbulk" id="bulkhospitalform" method="post" action="{% url 'uploadhospitalxls' %}" enctype="multipart/form-data" >
    					{% csrf_token %}
    				<div class="row">	 
					<div class="col-md-6"> 
						<div class="form-group row">
        					<label for="#datafile" class="col-sm-3 col-form-label"> Select xls File </label> 
        					<div class="col-sm-9">
        					    <!-- <input id="#datafile"  class="form-control" name="datafile" type="file" required accept=".csv" ></input> -->
        					    <input id="#datafile"  class="form-control" name="datafile" type="file" ></input>
        					    
        					</div>
        					</div>
					 </div>
				
                                 	<div class="col-md-6">
        					<div class="form-group row">
	   				    	<div class="col-sm-6">
        					<input type="submit" class="btn btn-primary" id="multipliesubmit" value='Upload ' ></input>
        					<input type="reset" class="btn btn-warning "/>
        					</div>
        					</div>
		 			</div>
				</div>
			<div class="row">
				<div class="col-md-8">
					<div class="form-group row">
					<p><strong> Note:-</strong><br>
						<ul>
						<li> All field / column filled with correct values</li>
						<li> Mandatory Fidelds are: District, Hospital Name, Hospital type, [If no value for Doctors & Health workers then set as 0] .</li>
						</ul>
					</p>
					</div>
				</div>
				
</div>
    				</form>
</div>
    		

		<div id="forsingle" > <!-- for Single hospital information -->
				<form name="addhospital" id="addhospital" method="post" action="{% url 'addsinglehospital' %}" >		
					{% csrf_token %}

<div class="row">
                        <div class="col-md-6">
					<div class="form-group row">
					    <label for="state" class="col-sm-3 col-form-label">State</label>
					    <div class="col-sm-9">
					        <select name="state" id="state" class="form-control" required=true >
							    <option value="0">--select-state--</option>
							    {% for state in states %}
							     <option value="{{state.state_id}}">{{state.state_name}}</option>
							    {% endfor %}
    					    </select>
    					</div>
					</div>
				 </div>
					<div class="col-md-6">
					<div class="form-group row">
					    <label for="district" class="col-sm-3 col-form-label">District</label>
					    <div class="col-sm-9">
					        <select name="district" id="district"  class="form-control" required=true >
						        <option value="0">--Select-District--</option>
					        </select>
					    </div>
					</div> </div>
				 </div>

<div class="row">
                        <div class="col-md-6">

					<div class="form-group row">
					    <label for="htype" class="col-sm-3 col-form-label">Hospital Type</label>
					    <div class="col-sm-9">
					        <select id="htype" name="htype" class="form-control">
					        	{% for ht in htype %}
						        <option value="{{ ht.htype_id }}">
						        {{ ht.hospital_type }}
						        </option>
					        	{% endfor %}
    					    </select>
    					</div>
					</div>
</div> <div class="col-md-6">

					<div class="form-group row">
					    <label for="hname" class="col-sm-3 col-form-label">Hospital Name</label>
					    <div class="col-sm-9">
					        <input type="text"  class="form-control" placeholder="E.g Rajivgandhi Government Hospital" id="hname" name="hname" required=true/>
					    </div>
					</div>
</div></div>



<div class="row">
                        <div class="col-md-6">
					<div class="form-group row">
				    	<label for="haddress" class="col-sm-3 col-form-label">Full Address</label>
				    	<div class="col-sm-9">
				    	    <input type="text" class="form-control" placeholder="E.g No14,Mount road" id="haddress" name="haddress" />
				    	</div>
					</div>
</div> <div class="col-md-6">
					<div class="form-group row">
					    <label for="taluk" class="col-sm-3 col-form-label">Taluk</label>
					    <div class="col-sm-9">
					        <input type="text" class="form-control" name="taluk" id="taluk" placeholder="Enter Name of Taluk" required=true />
					    </div>
					</div> </div> </div> 


<div class="row">
                        <div class="col-md-6">
					<div class="form-group row">
					    <label for="city" class="col-sm-3 col-form-label">City</label>
					    <div class="col-sm-9">
					        <input type="text" name="city" id="city"  class="form-control" placeholder="Enter City Name" required=true />
					    </div>
					</div>	
</div>		<div class="col-md-6">		
					<div class="form-group row">
					    <label for="hpin" class="col-sm-3 col-form-label">Pincode</label>
					    <div class="col-sm-9">
					        <input type="text" class="form-control"  placeholder="600001" id="hpin" name="hpin" minlength="6" maxlength="6" required=true />
					    </div>
					</div> </div> </div>

<div class="row">
                        <div class="col-md-6">
					<div class="form-group row">
					    <label for="hcontact" class="col-sm-3 col-form-label">Contact Number</label>
					    <div class="col-sm-9">
					        <input type="number" class="form-control" placeholder="04424535325(with STD code)" minlength="6" maxlength="15" id="hcontact" name="hcontact" required=true />
					    </div>
                    </div> </div>  <div class="col-md-6">
                    <div class="form-group row">
					    <label for="nhw" class="col-sm-3 col-form-label">Total No., of Doctors</label>
					    <div class="col-sm-9">
					        <input type="number" class="form-control" value=0 id="ndoc" name="ndoc" required=true />
					    </div>
					</div>  </div></div>


<div class="row">
                        <div class="col-md-6">

					<div class="form-group row">
    					<label for="nhw" class="col-sm-3 col-form-label">Total Health Workers</label>
    					<div class="col-sm-9">
    					    <input type="number" class="form-control" value=0 id="nhw" name="nhw" required=true />
    					</div>
                    </div> </div></div>
						  <div class="row"><div class="col-md-6">
			  
			<div class="form-group row"> <label class="col-sm-3"></label><div class="col-md-9">
						<input type="hidden" value="0" name="opt" id="opt" />
						<input type="hidden" value="" name="hid" id="hid" />
	   				    
	    				    <input type="submit"  class="btn btn-primary" value="Add Hospital" id="singlesubmit"></input>
    					    <input type="reset" class="btn btn-warning ml-2" />
					    </div>
					</div> </div></div>
				</form>
			</div>
		</div>
	</div>
		</div></div>
		</div>
		{% endblock %}

{% block 'customjs' %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
    	$("#forbulk").hide();
		{% if usr.adminstate > 0 %}
			document.getElementById("single").checked = true;
		{% endif %}
	$("#state").change(function () {
		var url = "{% url 'getdistrict' %}"  // get the url of the `load_cities` view
		var stateid = $(this).val();  // get the selected country ID from the HTML input
		var token = "{{csrf_token}}";
		$.ajax({                       // initialize an AJAX request
			type:"POST",
			headers: {
				'X-CSRFToken':"{{csrf_token}}"
			},
			url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
			data: {
				'stateid': stateid       // add the country id to the GET parameters
			},
			success: function (data) { // `data` is the return of the `load_cities` view function
				
				$("#district").html(data);
				//console.log(data);
			}
		});

	});
$("#single").change(function(){
	if($(this).is(':checked')){
		$("#forsingle").show();
		$("#forbulk").hide();
		$("#singlesubmit").val("Add Hospital");
		$("#opt").val("0");
	}
	else{$("#forsingle").hide();
		$("#forbulk").show();
	}

});

$("#multiple").change(function(){
	if($(this).is(':checked')){
		$("#forbulk").show();
		$("#forsingle").hide();
	}
	else{
		$("#forbulk").hide();
		$("#forsingle").show();
	}

	});
	
$("#city").on("keypress keyup blur",function (event) {    
           $(this).val($(this).val().replace(/[^a-zA-Z ].+/, ""));
                   });

$("#taluk").on("keypress keyup blur",function (event) {    
           $(this).val($(this).val().replace(/[^a-zA-Z ].+/, "")); 
            
        });

$("#hcontact").on("keypress keyup blur",function (event) {    
           $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

$("#pin").on("keypress keyup blur",function (event) {    
           $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });
$("#edit").change(function(){
	if($(this).is(':checked')){
		console.log("single clicked");
		$("#forsingle").show();
		$("#forbulk").hide();
		$.ajax({                 
			type:"POST",
			headers: {
				'X-CSRFToken':"{{csrf_token}}"
			},
			url: "{% url 'gethospitaldata' %}",    
			data: {'stateid': "{{usr.state_id}}",'district_id':"{{usr.district_id}}"},
			success: function (data){ 				
				console.log(data);
				$("#state").val(data['state_id']);
				$("#district").html("<option value='"+data['district_id']+"'>"+data['dist_name']+"</option>");
				$("#hname").val(data['hospital_name']);
				$("#haddress").val(data['address']);
				$("#htype").val(data['hospital_type']);
				$("#city").val(data['city']);
				$("#taluk").val(data['taluk']);
				$("#hcontact").val(data['contact_number']);
				$("#ndoc").val(data['doctors']);
				$("#nhw").val(data['healthworkers']);
				$("#hpin").val(data['pincode']);
				$("#opt").val("1");
				$("#hid").val(data['hospital_id'])
				$("#singlesubmit").val("Update Hospital");
			}
		});
	}
});

	
});

  </script>

  {% endblock %}
	</body>
	
</html>

