
{% extends 'assetmgt/base.html' %}
{% block 'title' %} Add Hospital {% endblock %}
{% block 'content' %}
		<div ><!-- for row -->
			{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
			<div> <!-- for radio group-->
				<input type="radio" id="single" name="hospitaldata" value="1"><label for="single">Add Hospital</label>
				<input type="radio" id="multiple" name="hospitaldata" value="0"><label for="multiple">Upload Hospital Data</label>
				<a class="btn btn-success"href="{% url 'gethospitalsample' %}" download >Sample CSV File</a>
			</div>
			<br>
			<div id="forbulk" > <!-- for render file browser -->
				<form name="addbulk" id="bulkhospitalform" method="post" action="#" enctype="multipart/form-data" >
					{% csrf_token %}
					<label for="#datafile"> Select CSV File : </label> <input id="#datafile" type="file" required accept=".csv" ></input><br />
					<input type="submit" id="multipliesubmit" value='Upload ' ></input>
					<input type="reset"/>

				</form>
			</div>
			<br>
			<div id="forsingle" > <!-- for Single hospital information -->
				<form name="addhospital" id="addhospital" method="post" action="{% url 'addsinglehospital' %}" >		
					{% csrf_token %}
					<label for="state">State</label><select name="state" id="state" required=true>
							<option value="0">--select-state--</option>
							{% for state in states %}
							 <option value="{{state.state_id}}">{{state.state_name}}</option>
							 {% endfor %}
					</select><br>
					<label for="district">District</label><select name="district" id="district" required=true >
						<option value="0">--Select-District--</option>
					</select><br>
					<label for="taluk">Taluk</label><input type="text" name="taluk" id="taluk" placeholder="Enter Name of Taluk" required=true /><br>
					<label for="city">City</label><input type="text" name="city" id="city" placeholder="Enter City Name" required=true /><br>
					<label for="htype">Type</label><select id="htype" name="htype">
						<option value="Government">Government</option>
						<option value="Private">Private</option>

					</select><br>
					<label for="hname">Hospital Name</label><input type="text" placeholder="E.g Rajivgandhi Government Hospital" id="hname" name="hname" /><br>
					<label for="haddress"></label>Full Address<input type="text" placeholder="E.g No14,Mount road" id="haddress" name="haddress" /><br>
					<label for="hpin">Pincode</label><input type="text" placeholder="600001" id="hpin" name="hpin" required=true /><br>
					<label for="hcontact">Primary Contact Number</label><input type="text" placeholder="044-24535325" id="hcontact" name="hcontact" required=true /><br>

					<label for="nhw">Total Numbers of Doctors Available</label><input type="number" value=0 id="ndoc" name="ndoc" required=true /><br>
					<label for="nhw">Total Number of Health Workers Available</label><input type="number" value=0 id="nhw" name="nhw" required=true /><br>
					   {% for asset in assets %}
					   <label for="{{asset.asset_id}}">Total Numbers of {{asset.asset_name | title }}(s) available </label><input type="number" min=0 required=true value=0 name="{{asset.asset_name}}" /><br>
					   {% endfor %}

					<input type="submit" value="Add Hospital" id="singlesubmit"></input>

					<input type="reset" />
				</form>
			</div>
		</div>
		{% endblock %}

		{% block 'customjs' %}
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		
	<script type="text/javascript">
$(document).ready(function(){
	document.getElementById("single").checked = true;
	$("#forbulk").hide();
	$("#state").change(function () {
		var url = "{% url 'getdistrict' %}"  // get the url of the `load_cities` view
		var stateid = $(this).val();  // get the selected country ID from the HTML input
		var token = "{{csrf_token}}";
		$.ajax({                       // initialize an AJAX request
			type:"POST",
			headers: {
				'X-CSRFToken':"{{csrf_token}}"
			},
			url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
			data: {
				'stateid': stateid       // add the country id to the GET parameters
			},
			success: function (data) { // `data` is the return of the `load_cities` view function
				
				$("#district").html(data);
				//console.log(data);
			}
		});

	});
$("#single").change(function(){
	if($(this).is(':checked')){
		console.log("single clicked");
		$("#forsingle").show();
		$("#forbulk").hide();
	}
	else{$("#forsingle").hide();
		$("#forbulk").show();
	}

});

$("#multiple").change(function(){
	if($(this).is(':checked')){
		console.log("multiple clicked");
		$("#forbulk").show();
		$("#forsingle").hide();
	}
	else{
		$("#forbulk").hide();
		$("#forsingle").show();
	}

	});
	

	
});

  </script>

  {% endblock %}
	</body>
	
</html>

