
{% extends 'assetmgt/base.html' %}
{% block 'title' %} Add Hospital {% endblock %}
{% block 'content' %}
<div ><!-- for row -->
	<div class="form-group" > <!-- for radio group-->
		{% if usr.adminstate > 0 %}
		<input type="radio" id="single"  name="hospitaldata" value="1"><label for="single">Add Hospital</label>
		<input type="radio" id="multiple" class= "btn radio-inline btn-primary" name="hospitaldata" value="0"><label for="multiple">Upload Hospital Data</label>
		<input type="radio" id="edit" name="hospitaldata" value="2"><label for="edit">Edit Hospital Data</label>
		<a class="btn btn-info"href="{% url 'gethospitalsample' %}" download >Sample CSV File</a>
		{% else %}
		<input type="radio" id="edit" name="hospitaldata" value="2"><label for="multiple">Edit Hospital Data</label>
		{% endif %}
	</div><br />

	<div id="forbulk" > <!-- for render file browser -->
    				<form name="addbulk" id="bulkhospitalform" method="post" action="{% url 'addhospitalcsv' %}" enctype="multipart/form-data" >
    					{% csrf_token %}
    					<div class="form-group row">
        					<label for="#datafile" class="col-sm-2 col-form-label"> Select CSV File : </label> 
        					<div class="col-sm-10">
        					    <input id="#datafile" name="datafile" type="file" required accept=".csv" ></input>
        					</div>
        				</div>
        				<div class="form-group row">
	   				    <div class="col-sm-10">
        					<input type="submit" id="multipliesubmit" value='Upload ' ></input>
        					<input type="reset"/>
        				</div>
        				</div>
    				</form>
    			</div>
    			
   			 </div>

			<div id="forsingle" > <!-- for Single hospital information -->
				<form name="addhospital" id="addhospital" method="post" action="{% url 'addsinglehospital' %}" >		
					{% csrf_token %}
					<div class="form-group row">
					    <label for="state" class="col-sm-2 col-form-label">State</label>
					    <div class="col-sm-10">
					        <select name="state" id="state" required=true>
							    <option value="0">--select-state--</option>
							    {% for state in states %}
							     <option value="{{state.state_id}}">{{state.state_name}}</option>
							    {% endfor %}
    					    </select>
    					</div>
					</div>
					<div class="form-group row">
					    <label for="district" class="col-sm-2 col-form-label">District</label>
					    <div class="col-sm-10">
					        <select name="district" id="district" required=true >
						        <option value="0">--Select-District--</option>
					        </select>
					    </div>
					</div>
					<div class="form-group row">
					    <label for="htype" class="col-sm-2 col-form-label">Hospital Type</label>
					    <div class="col-sm-10">
					        <select id="htype" name="htype">
						        <option value="Government">Government</option>
						        <option value="Private">Private</option>
    					    </select>
    					</div>
					</div>
					<div class="form-group row">
					    <label for="hname" class="col-sm-2 col-form-label">Hospital Name</label>
					    <div class="col-sm-10">
					        <input type="text" placeholder="E.g Rajivgandhi Government Hospital" id="hname" name="hname" />
					    </div>
					</div>
					<div class="form-group row">
				    	<label for="haddress" class="col-sm-2 col-form-label">Full Address</label>
				    	<div class="col-sm-10">
				    	    <input type="text" placeholder="E.g No14,Mount road" id="haddress" name="haddress" />
				    	</div>
					</div>
					<div class="form-group row">
					    <label for="taluk" class="col-sm-2 col-form-label">Taluk</label>
					    <div class="col-sm-10">
					        <input type="text" name="taluk" id="taluk" placeholder="Enter Name of Taluk" required=true />
					    </div>
					</div>
					<div class="form-group row">
					    <label for="city" class="col-sm-2 col-form-label">City</label>
					    <div class="col-sm-10">
					        <input type="text" name="city" id="city" placeholder="Enter City Name" required=true />
					    </div>
					</div>					
					<div class="form-group row">
					    <label for="hpin" class="col-sm-2 col-form-label">Pincode</label>
					    <div class="col-sm-10">
					        <input type="text" placeholder="600001" id="hpin" name="hpin" required=true />
					    </div>
					</div>
					<div class="form-group row">
					    <label for="hcontact" class="col-sm-2 col-form-label">Contact Number</label>
					    <div class="col-sm-10">
					        <input type="text" placeholder="044-24535325" id="hcontact" name="hcontact" required=true />
					    </div>
                    </div>
                    <div class="form-group row">
					    <label for="nhw" class="col-sm-2 col-form-label">Total No., of Doctors</label>
					    <div class="col-sm-10">
					        <input type="number" value=0 id="ndoc" name="ndoc" required=true />
					    </div>
					</div>
					<div class="form-group row">
    					<label for="nhw" class="col-sm-2 col-form-label">Total Health Workers</label>
    					<div class="col-sm-10">
    					    <input type="number" value=0 id="nhw" name="nhw" required=true />
    					</div>
                    </div>
					<div class="form-group row">
						<input type="hidden" value="0" name="opt" id="opt" />
						<input type="hidden" value="" name="hid" id="hid" />
	   				    <div class="col-sm-10">
	    				    <input type="submit" value="Add Hospital" id="singlesubmit"></input>
    					    <input type="reset" />
					    </div>
					</div>
				</form>
			</div>
		</div>
		{% endblock %}

{% block 'customjs' %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
    	$("#forbulk").hide();
		{% if usr.adminstate > 0 %}
			document.getElementById("single").checked = true;
		{% endif %}
	$("#state").change(function () {
		var url = "{% url 'getdistrict' %}"  // get the url of the `load_cities` view
		var stateid = $(this).val();  // get the selected country ID from the HTML input
		var token = "{{csrf_token}}";
		$.ajax({                       // initialize an AJAX request
			type:"POST",
			headers: {
				'X-CSRFToken':"{{csrf_token}}"
			},
			url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
			data: {
				'stateid': stateid       // add the country id to the GET parameters
			},
			success: function (data) { // `data` is the return of the `load_cities` view function
				
				$("#district").html(data);
				//console.log(data);
			}
		});

	});
$("#single").change(function(){
	if($(this).is(':checked')){
		$("#forsingle").show();
		$("#forbulk").hide();
		$("#singlesubmit").val("Add Hospital");
		$("#opt").val("0");
	}
	else{$("#forsingle").hide();
		$("#forbulk").show();
	}

});

$("#multiple").change(function(){
	if($(this).is(':checked')){
		$("#forbulk").show();
		$("#forsingle").hide();
	}
	else{
		$("#forbulk").hide();
		$("#forsingle").show();
	}

	});
	
$("#edit").change(function(){
	if($(this).is(':checked')){
		console.log("single clicked");
		$("#forsingle").show();
		$("#forbulk").hide();
		$.ajax({                 
			type:"POST",
			headers: {
				'X-CSRFToken':"{{csrf_token}}"
			},
			url: "{% url 'gethospitaldata' %}",    
			data: {'stateid': "{{usr.state_id}}",'district_id':"{{usr.district_id}}"},
			success: function (data){ 				
				console.log(data);
				$("#state").val(data['state_id']);
				$("#district").html("<option value='"+data['district_id']+"'>"+data['dist_name']+"</option>");
				$("#hname").val(data['hospital_name']);
				$("#haddress").val(data['address']);
				$("#htype").val(data['hospital_type']);
				$("#city").val(data['city']);
				$("#taluk").val(data['taluk']);
				$("#hcontact").val(data['contact_number']);
				$("#ndoc").val(data['doctors']);
				$("#nhw").val(data['healthworkers']);
				$("#hpin").val(data['pincode']);
				$("#opt").val("1");
				$("#hid").val(data['hospital_id'])
				$("#singlesubmit").val("Update Hospital");
			}
		});
	}
});

	
});

  </script>

  {% endblock %}
	</body>
	
</html>

