{% extends 'assetmgt/base.html' %}


{% block 'title' %} Add User {% endblock %}

{% load app_filters %}

{% block 'content' %}
  <div class="row mb-3">
  <div class="col-12">
  <div class="card">
  <div class="card-body">
 <h4 class="card-title">User registration</h4> 

 {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{% if profile_form.errors %}
    {% for field in profile_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in profile_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

	<form method="POST" action="{% url 'register' %}">
		{% csrf_token %}
<div class="row">
  <div class="col-md-6">
    {% for form_field in form.visible_fields %}
    <div class="row">

    <div class="col-md-12">
    <div class ="form-group row">
    <label class="col-sm-3 col-form-label"> {{ form_field.label  }}</label>
       <div class="col-sm-9" >
          {{ form_field | addclass:"form-control" }}
       </div>
</div>
</div>
</div>
{% endfor %}
</div>
<div class="col-md-6">
{% for form_field2 in profile_form.visible_fields %}
    <div class="row">

      <div class="col-md-12">

<div class ="form-group row">
   <label class="col-sm-3 col-form-label"> {{ form_field2.label }}</label>
   <div class="col-sm-9" >
      {{ form_field2 | addclass:"form-control" }}
   </div>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
<div class="row">
 <div class="col-md-6">

          <div class="form-group row">
              <label for="nhw" class="col-sm-3 col-form-label"> &nbsp;</label>
	 <div class="col-sm-9">	<input type="submit" class="btn btn-primary" value="Create User" />
		<input type="reset" class="btn btn-warning ml-2" value="Reset" /> </div> </div>
  </div>
</div>
	</form>
</div>
</div>
</div>
</div>

{% endblock %}
	{% block 'customjs' %}

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_state_id").change(function () {
      var url = "{% url 'ajax_load_districts' %}"  // get the url of the `load_cities` view
      var stateid = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'state': stateid       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_district_id").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });

    $("#id_district_id").change(function () {
      var url = "{% url 'ajax_load_hospital' %}"  // get the url of the `load_cities` view
      var distid = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'distid': distid       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_hospital_id").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>
  {% endblock %}

	</body>
	</html>
