{% extends 'assetmgt/base.html' %}


{% block 'title' %} Asset Mapping {% endblock %}

{% load app_filters %}

{% load static %}

    {% block 'customcss' %}
  <link rel="stylesheet" href="{% static  'assetmgt/css/multiselect.css' %}" type="text/css" />
  <style type="text/css">
  
  </style>

    {% endblock %}

{% block 'content' %}
  <div class="row mb-3">
  <div class="col-12">
  <div class="card">
  <div class="card-body">
<div class="row" >
  <div class="col-md-10">

    <button type="button" value="Asset  : Hospital Type Mapping" id="htypemapping" class="btn btn-primary">
      Asset  : Hospital Type Mapping
    </button>
    <button type="button" value="Asset Mapping to Hospital " id="hospitalmapping"  class="btn btn-success" >
      Asset Mapping to Hospital
    </button>
  </div>

</div>

<div class="row mt-3">
  <div class="col-md-12">

    <div id="mappingform">

    </div>
  </div>
  </div>

</div></div></div></div>





{% endblock %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	{% block 'customjs' %}
        <script src="{% static 'assetmgt/js/jquery.multi-select.min.js' %}"></script>

<script type="text/javascript">
 $(document).ready(function() {
 $("#htypemapping").click(function () {

      var url = "{% url 'assetmappingform' %}"  // get the url of the `load_cities` view
      var formtype = 'hospitaltype';  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'formt': formtype       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#mappingform").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });



$(document).on({
  change: function () {
      var url = "{% url 'returnassetsh' %}"  // get the url of the `load_cities` view
      var ht = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'ht': ht       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#element2").html(data);  // replace the contents of the city input with the data that came from the server
          $('#assets1').multiSelect({
            'modalHTML': '<div class="multi-select-modal">'
        });
        }
      });

}
}, '#hospid');


$(document).on({
  change: function () {
      var url = "{% url 'returnassetsht' %}"  // get the url of the `load_cities` view
      var ht = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'ht': ht       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#element2").html(data);  // replace the contents of the city input with the data that came from the server
          $('#assets1').multiSelect({
            'modalHTML': '<div class="multi-select-modal">'
        });
        }
      });

    }
}, '#htypeid');







 $("#hospitalmapping").click(function () {
      var url = "{% url 'assetmappingform' %}"  // get the url of the `load_cities` view
      var formtype = 'hospital';  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'formt': formtype       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#mappingform").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });

});
</script>


<script type="text/javascript">
  
  $(document).ready(function() {

function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


  var $myForm = $('#maphtype')
  $(document).on('submit', '#maphtype',function(event){
      console.log("preventDefault");
      event.preventDefault();
      var $val = confirm("Are you sure!!");
        if ($val) {

              var $formData = $(this).serialize()
        console.log($formData);
              var $thisURL = "{% url 'assetmaphtype' %}" // or set your own url
              console.log($thisURL)
              $.ajax({
                  method: "POST",
                  url: $thisURL,
                  data: $formData,
                  success: handleFormSuccess,
                  error: handleFormError,
              })
            }
        else{

        }
    });

    function handleFormSuccess(data, textStatus, jqXHR){
        console.log("data"+data)
        console.log("textstatus -"+textStatus)
        console.log("jqXHR "+jqXHR)

        $('#mappingform').html(data)

      //   $("#addassetmodel").modal('toggle');
      //   $("#responseText").html(data);
      //   $('#overlay').modal('show').slideUp( 300 ).delay( 800 ).fadeIn( 400 );
      // if(data=="Done"){
      //   alert("Value for Asset is added successfully");
      // }
      // else if(data=="AE"){
      //   alert("Value of the Asset is already exists");
      // }
      // else{
      //   alert("Value for Asset is already exists");
      // }
          //window.location.replace("{% url 'assetmanagementview' %}");

            };

    function handleFormError(jqXHR, textStatus, errorThrown){
        console.log(jqXHR)
        console.log(textStatus)
        console.log(errorThrown)
    };






    var $myForm = $('#maphospa')
  $(document).on('submit', '#maphospa',function(event){
      console.log("preventDefault");
      event.preventDefault();
      var $val = confirm("Are you sure!!");
        if ($val) {

              var $formData = $(this).serialize()
        console.log($formData);
              var $thisURL = "{% url 'assetmaphosp' %}" // or set your own url
              console.log($thisURL)
              $.ajax({
                  method: "POST",
                  url: $thisURL,
                  data: $formData,
                  success: handleFormSuccess2,
                  error: handleFormError2,
              })
            }
        else{

        }
    });

    function handleFormSuccess2(data, textStatus, jqXHR){
        console.log("data"+data)
        console.log("textstatus -"+textStatus)
        console.log("jqXHR "+jqXHR)

        $('#mappingform').html(data)

     

            };

    function handleFormError2(jqXHR, textStatus, errorThrown){
        console.log(jqXHR)
        console.log(textStatus)
        console.log(errorThrown)
    };
});

</script>
{% endblock %}


	</body>
	</html>
