<label for="assets" class="col-sm-3 col-form-label">Assets</label>
<div class="col-sm-6">
    <select name="assets" id="assets1" class="form-control" required=true multiple>
        {% for ht in vals %}
        <option value="{{ ht.asset_id }}">
            {{ ht.asset_name }}
        </option>
        {% endfor %}
    </select>
</div>
</div>
</div>
</div>

    <div class="row" >
                    <div class="col-md-6">
        <div class="form-group row">
            <input type="submit" value="Update" class="btn btn-primary">
        </div>
    </div>
</div>

  {% if existasset %}

    <div class="card" id="result_panel">
    <div class="card-title">
        <h2 class="ml-2" >Asset Mapped </h3>
    </div>
    <div class="card-body">
				{% for asts in existasset %}
		  			<span class="badge badge-secondary ml-1 mr-1">{{ asts.assetsmapped.asset_name | upper }}</span>
				{% endfor %}
				</div> </div>
				{% endif %}
</div>
</div>
</div>

