{% extends 'assetmgt/base.html' %}
{% block 'title' %} Asset Report {% endblock %}
{% block 'content' %}
     <div class="row mb-3">
  <div class="col-12">
  <div class="card">
  <div class="card-body">
{% if message %}
    <p class="alert alert-info">{{ message }}</p>
{% else %}    
	

  <div class="row mt-1">
  <div class="col-6">
	<form id="reportform" method="post" action="{% url 'assetreport' %}" >
		{% csrf_token %}
		<div class="form-group row">
		    <label for="state" class="col-sm-2 col-form-label">State</label>
		    <div class="col-sm-10">
		        <select class="form-control" name="state" id="state" required=true>
				    <!-- <option value="">--select-state--</option> -->
				    {% for state in states %}
				     <!-- <option value="{{state.state_id}}" selected=true>{{state.state_name}}</option> -->
				     <option value="{{userprofile.state_id_id}}" selected=true>{{userprofile.state_id.state_name}}</option>
				    {% endfor %}
			    </select>
			</div>
		</div>

        
		<div class="form-group row">
		    <label for="district" class="col-sm-2 col-form-label">District</label>
		    <div class="col-sm-10">
		        <select class="form-control"  name="district" id="district" required=true >
			        <!-- <option value="">--Select-District--</option> -->
			        {% if userprofile.adminstate == 1 %}
				     <option value="{{userprofile.district_id_id}}" selected=true>{{userprofile.district_id.district_name}}</option>
                    {% elif userprofile.adminstate == 2 %}
   				    <option value="all">All Districts</option>
   				    {% for district in districts %}
                    <option value="{{district.district_id}}" >{{district.district_name}}</option>
                    {% endfor %}                                             
                    {% endif %}
                </select>
		    </div>
		</div>
		
		<!-- <div class="form-group row">
		    <label for="hospital" class="col-sm-2 col-form-label">Hospital</label>
		    <div class="col-sm-10">
		        <select name="hospital" id="hospital" required=true >
			        <option value="0">--Select-Hospital--</option>
		        </select>
		    </div>
		</div -->
<!--	<div class="form-group row">
		    <label for="asset" class="col-sm-2 col-form-label">Report By</label>
		    <div class="col-sm-10">
		        <select name="asset" id="asset" required=true >
			        <option value="0">--Select-Asset-Type--</option>
				{% for asset in assets %}
				<option value="{{asset.asset_id}}">{{asset.asset_name}}</option>
				{% endfor %}
			</select>
		    </div>
		</div>
-->
		<div class="form-group row">
		    <label for="hospital" class="col-sm-2 col-form-label">Report</label>
		    <div class="col-sm-10">
		        <select class="form-control" name="opt" id="opt" required>
			        <option value="">--Select--</option>
			      


			        <option value="by-hospitals">By - Hospitals</option>
   			        <option value="by-assets">By - Assets</option>
		        </select>
		    </div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label">&nbsp; </label>
		    <div class="col-sm-10">
			    <input type="submit" class="btn btn-primary" id="formsubmit" value="Get Report" />
			    <input type="reset" class="btn btn-warning"  value="Reset" />
		    </div>
		</div>


	</form>


</div> </div>  <div class="row mt-2">  <div class="col-md-12">
    
        {% if assetmgts is not empty %} 
        <div id="reportfor">
                <h5>{{ reportfor }}</h5>
        </div>
        {% endif %}
        
		    <div id="fordatatable">
            {% if report_by == "by-hospitals" %}
			    <table id="by_hospitals" class="table table-bordered table-striped" >
				    <thead>
					    <tr>
						    {% if userprofile.adminstate == 2 %}
						    <th> District </th>
						    {% endif %}
						    <th>Hospital Name-City</th>
						    <th>Asset</th>
						    <th>Total</th>
						    <th>Utilized</th>
						    <th>Available</th>
						    <th>Last Updated On</th>
					    </tr>
				    </thead>
				    <tbody>
				    {% load app_filters %}
                    {% load tz %}
	                {% for assetmgt in assetmgts %}
	                <tr>    
		                {% if userprofile.adminstate == 2 %}
		                <td > {{ assetmgt.hospital_id.district_id.district_name | safe }}</td>
		                {% endif %}
		                <td>{{assetmgt.hospital_id.hospital_name | safe }} - {{assetmgt.hospital_id.city | safe }}</td>
		                <td>{{assetmgt.asset_id.asset_name | safe }}</td>
		                <td>{{assetmgt.asset_total | safe }}</td>
		                <td>{{assetmgt.asset_utilized | safe }}</td>
		                <td>{{assetmgt.asset_balance | safe }}</td>
                        {% timezone "Asia/Calcutta" %}
		                <td>{{assetmgt.creation_date}}</td>
		                {% endtimezone %}
	                </tr>
	                {% endfor %}
	                </tbody>					
			    </table>
        {% elif report_by == "by-assets" %}
			    <table id="by_assets" class="table table-bordered table-striped" >
				    <thead>
					    <tr>
						    <th> District </th>
						    <th>Total Hospitals</th>
						    <th>Asset Name</th>
						    <th>Total</th>
						    <th>Occupied</th>
						    <th>Free</th>
						    <!-- <th>Last Updated On</th> -->
					    </tr>
				    </thead>
				    <tbody>
	                {% for assetmgt in assetmgts %}
	                 
		                <!-- <td rowspan={{assetcount}}> {{ assetmgt.district }}</td>
		                <td rowspan={{assetcount}}>{{ assetmgt.status.totalhospitals }}</td> -->
		                {% for key,value in assetmgt.assets.items %}
		                    <tr>
		                    <td>{{ assetmgt.district }}</td>
    		                <td>{{ assetmgt.status.totalhospitals }}</td>
		                    <td>{{ key }}</td>
		                    <td>{{ value.total }}</td>
		                    <td>{{ value.occupied }}</td>
		                    <td>{{ value.free }}</td>
		                    </tr>
		                    <!-- <td>{{assetmgt.creation_date}}</td> -->
		                {% endfor %}
	              
	                {% endfor %}
	                </tbody>					
			    </table>
            </div> </div></div>
        {% endif %}
{% endif %} 
</div></div></div></div>
{% endblock %}

{% block 'customjs' %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% include 'snippets/dataTable.html' %}
    <script type="text/javascript">
    $(document).ready(function(){
	    //document.getElementById("single").checked = true;
	    $("#forbulk").hide();
	    $("#state").change(function () {
		    var url = "{% url 'getdistrict' %}"  // get the url of the `load_cities` view
		    var stateid = $(this).val();  // get the selected country ID from the HTML input
		    var token = "{{csrf_token}}";
		    $.ajax({                       // initialize an AJAX request
			    type:"POST",
			    headers: {
				    'X-CSRFToken':"{{csrf_token}}"
			    },
			    url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
			    data: {
				    'stateid': stateid       // add the country id to the GET parameters
			    },
			    success: function (data) { // `data` is the return of the `load_cities` view function
				    
				    $("#district").html(data);
				    //console.log(data);
			    }
		    });

	    });
	    
    $("#district").change(function () {
      var url = "{% url 'ajax_load_hospital' %}"  // get the url of the `load_cities` view
      var distid = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                      // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'distid': distid       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#hospital").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
	    
   $("#by_hospitals").DataTable({
	    			dom:             "<'row'<'col-sm-5'B>>"+
"<'hr'>"+
"<'row'<'col-sm-6'l><'col-sm-6'f>>" +
"<'row'<'col-sm-12'tr>>" +
"<'row'<'col-sm-5'i><'col-sm-7'p>>",
		        processing: true,
			buttons: [
            { 
              extend : 'copyHtml5',  
              text:      '<i class="fa   text-info fa-file"></i>',          
              titleAttr: 'Copy'
            },
            {
              extend : 'csvHtml5',
              title  : 'Hospital Asset Management Report',
              text:      '<i class="fa  text-warning fa-file-text"></i>',
              titleAttr: 'CSV'
            },
            {
                extend: 'excelHtml5',
                title: 'Hospital Asset Management Report',
                text:      '<i class="fa text-success fa-file-excel-o"></i>',
                titleAttr: 'EXCEL'
            },
            {
              extend : 'pdfHtml5',
              title  : 'Hospital Asset Management Report',
              text:      '<i class="fa text-danger fa-file-pdf-o"></i>',
              titleAttr: 'PDF'
            }
        ],
    			"language": {
                "search": '<i class="fa fa-search"></i>',
                "searchPlaceholder": "search",
                "paginate": {
                "previous": '<i class="fa fa-angle-left"></i>',
                    "next": '<i class="fa fa-angle-right"></i>'
            }
          },
          "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "order": [[ 0, 'asc' ]],
		});
		
   $("#by_assets").DataTable({
	    			dom:             "<'row'<'col-sm-5'B>>"+
"<'hr'>"+
"<'row'<'col-sm-6'l><'col-sm-6'f>>" +
"<'row'<'col-sm-12'tr>>" +
"<'row'<'col-sm-5'i><'col-sm-7'p>>",
		        processing: true,
			buttons: [
            { 
              extend : 'copyHtml5',  
              text:      '<i class="fa   text-info fa-file"></i>',          
              titleAttr: 'Copy'
            },
            {
              extend : 'csvHtml5',
              title  : 'Hospital Asset Management Report',
              text:      '<i class="fa  text-warning fa-file-text"></i>',
              titleAttr: 'CSV'
            },
            {
                extend: 'excelHtml5',
                title: 'Hospital Asset Management Report',
                text:      '<i class="fa text-success fa-file-excel-o"></i>',
                titleAttr: 'EXCEL'
            },
            {
              extend : 'pdfHtml5',
              title  : 'Hospital Asset Management Report',
              text:      '<i class="fa text-danger fa-file-pdf-o"></i>',
              titleAttr: 'PDF'
            }
        ],
    			"language": {
                "search": '<i class="fa fa-search"></i>',
                "searchPlaceholder": "search",
                "paginate": {
                "previous": '<i class="fa fa-angle-left"></i>',
                    "next": '<i class="fa fa-angle-right"></i>'
            }
          },
          "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "order": [[ 0, 'asc' ]],
		});
		
    /*$("#reportform").submit(function(event){
	    event.preventDefault();
	    var data_params={}
	    var state = $("#state").children("option:selected").val();
	    var district = $("#district").children("option:selected").val();
	    var hospital = $("#hospital").children("option:selected").val();
	    var asset = $("#asset").children("option:selected").val();
	    var opt = $("#opt").children("option:selected").val();
	    if(state){
	       data_params['state'] = state;
	    }
	    if(asset){
		    data_params['asset']=asset;
	    }
	    console.log("state added");
	    if(district){
		    data_params['district']=district;
	    }
	    console.log("dist added");
	    if(hospital){
		    data_params['hospital']=hospital;
	    }
	    console.log("hospital added");
	    if(opt){
		    data_params['opt']=opt;
	    }
	    console.log("opt added");
	    $.ajax({
		    type:"POST",
		    headers: {'X-CSRFToken':"{{csrf_token}}"},
		    url:"{% url 'generatereport' %}",
		    data:data_params,
		    success: function(data){ 
				   var table = $("#hospital_list").DataTable();
			           table.destroy();
				   $("#hospital_list").children('tbody').html(data);
			          				    
			    }
		    });
   });*/

    });
    </script>
{% endblock %}

	</body>
	</html>
