{% extends 'assetmgt/base.html' %}



{% block 'title' %}
	Asset
{% endblock %}

{% block 'content' %}


<div class="modal fade  modal-new" id="addassetmodel" tabindex="-1" role="dialog" aria-labelledby="clientinfo">
  <div class="modal-dialog modal-md" role="document" >
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title" id="clientinfo"> Add  Assets           </h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" >

<form action="." method="post" class="form-horizontal" id="formid" data-url="{% url 'addasset' %}">
          {% csrf_token %}
          {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}


<div id="addasset" >

</div>
</form>
</div></div></div></div>

<div class="row">
<div class="col-md-12">
  <div class="card">
                  <div class="card-body"><p> Click here to add new asset
<a  data-toggle='modal' data-target='#addassetmodel' href='#addassetmodel' class=" btn btn-primary ml-2"  onclick="addassetfun()"> <i class="fa fa-plus "></i>  ADD Asset
</a> </p></div>
</div>
</div>
</div>


<div class="row mt-2" >

<div class="col-md-12">
<div class="card">
                  <div class="card-body">
  
	<div class="table-responsive">
	          <table id="example" class="table table-bordered">
	          		<thead><tr> 

	          	<th>
	          		Asset Name 
	          	</th>
	          </tr></thead>
	          <tbody>
	          	{% for i in assets %}
	          	<tr>
					<td> {{ i.asset_name }} </td>
				</tr>
					{% endfor %}
				</tbody>
	          </table>
 
	</div>
 
  </div> 
  </div>


</div>
</div>

{% endblock %}


{% block 'customjs' %}
 
<script type="text/javascript">

function addassetfun(){
  $.ajax({
            type:"POST",
            url:"{% url 'assetcform' %}",
            success:function(result){
              $("#addasset").html(result);
        }
            })
};

 $(document).ready(function() {

function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


  var $myForm = $('#formid')
    $myForm.submit(function(event){
      console.log("preventDefault");
      event.preventDefault();
      var $val = confirm("Are you sure!!");
        if ($val) {

              var $formData = $(this).serialize()
	      console.log($formData);
              var $thisURL = $myForm.attr('data-url') || window.location.href // or set your own url
              console.log($thisURL)
              $.ajax({
                  method: "POST",
                  url: $thisURL,
                  data: $formData,
                  success: handleFormSuccess,
                  error: handleFormError,
              })
            }
        else{

        }
    });

    function handleFormSuccess(data, textStatus, jqXHR){
        console.log("data"+data)
        console.log("textstatus -"+textStatus)
        console.log("jqXHR "+jqXHR)

        $("#addassetmodel").modal('toggle');
        $("#responseText").html(data);
        $('#overlay').modal('show').slideUp( 300 ).delay( 800 ).fadeIn( 400 );
	    if(data=="Done"){
		    alert("Value for Asset is added successfully");
	    }
	    else if(data=="AE"){
		    alert("Value of the Asset is already exists");
	    }
	    else{
		    alert("Value for Asset is already exists");
	    }
          window.location.replace("{% url 'assetview' %}");

            };

    function handleFormError(jqXHR, textStatus, errorThrown){
        console.log(jqXHR)
        console.log(textStatus)
        console.log(errorThrown)
    };


 
});
</script>

{% include 'snippets/dataTable.html' %}
 
<script type="text/javascript">

 $(document).ready(function() {

    var table = $('#example').DataTable({
    		dom:             "<'row'<'col-sm-5'B>>"+
"<'hr'>"+
"<'row'<'col-sm-6'l><'col-sm-6'f>>" +
"<'row'<'col-sm-12'tr>>" +
"<'row'<'col-sm-5'i><'col-sm-7'p>>",
			buttons: [
            { 
              extend : 'copyHtml5',  
              text:      '<i class="fa   text-info fa-file"></i>',          
              titleAttr: 'Copy'
            },
            {
              extend : 'csvHtml5',
              title  : 'Devices',
              text:      '<i class="fa  text-warning fa-file-text"></i>',
              titleAttr: 'CSV'
            },
            {
                extend: 'excelHtml5',
                title: 'Devices',
                text:      '<i class="fa text-success fa-file-excel-o"></i>',
                titleAttr: 'EXCEL'
            },
            {
              extend : 'pdfHtml5',
              title  : 'Devices',
              text:      '<i class="fa text-danger fa-file-pdf-o"></i>',
              titleAttr: 'PDF'
            }
        ],
    			"language": {
                "search": '<i class="fa fa-search"></i>',
                "searchPlaceholder": "search",
                "paginate": {
                "previous": '<i class="fa fa-angle-left"></i>',
                    "next": '<i class="fa fa-angle-right"></i>'
            }
          },
          "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "order": [[ 0, 'asc' ]],

    });



} ); 


</script>
{% endblock %}