<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>
    {% block 'title' %}
  Asset Management
{% endblock %}
</title>


      {% load static %}

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static  'assetmgt/css/bootstrap.min.css' %}" type="text/css" />

  <!-- leaflet style sheets -->

   <link rel="stylesheet" href="/static/css/libs/leaflet-0.7.7.css" />
    <link rel="stylesheet" href="/static/css/src/style.css" />

    {% block 'customcss' %}
    {% endblock %}
  <!-- Custom styles for this template -->


    <link rel="stylesheet" href="{% static  'assetmgt/css/simple-sidebar.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static  'assetmgt/css/dataTables.bootstrap.min.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static  'assetmgt/css/buttons.dataTables.min.css' %}" type="text/css" />

  <link rel="stylesheet" href="{% static  'assetmgt/css/font-awesome.min.css' %}" type="text/css" />

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">

</head>

<body>
      {% block 'main' %}


  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div  id="sidebar-wrapper">
         <div class="sidebar-heading  shadow-sm "><img  src="{% static 'assetmgt/images/cdacnew.png' %}" alt="logo" /> </div>
	  <div class="sidebar-heading  text-white border-top border-bottom border-light custom-bg"><p > <i class="fa  fa-user  mr-1" aria-hidden="true"></i>
      {{ request.user.first_name |upper }}<br/><small>System Administrator</small> </p></div>
      <div class="list-group list-group-flush">
        
        
      {% if request.user.is_authenticated %}


            <!--li><a href="#" class="list-group-item border-0 list-group-item-action"> <i class="fa fa-user"></i> <strong> <abbr title="User Logged in">{{ request.user }} </abbr> </strong> </a></li-->

            <a href="{% url 'assetmanagementview' %}" class="list-group-item border-0 list-group-item-action "> Asset Management <i class="fa  fa-sliders pull-right mr-2" aria-hidden="true"></i></a>
            {% if request.user.userprofile.adminstate > 1 %}
            <a href="{% url 'assetview' %}" class="list-group-item border-0 list-group-item-action ">Asset <i class="fa  fa-medkit pull-right mr-2" aria-hidden="true"></i></a>
            {% endif %}

            {% if request.user.userprofile.adminstate == 1 %}

              <a href="{% url 'assetmapping' %}" class="list-group-item border-0 list-group-item-action "> Asset Mapping <i class="fa   fa-empire pull-right mr-2" aria-hidden="true"></i></a>

            {% endif %}

            {% if request.user.userprofile.adminstate > 0 %}

          

            <a href="{% url 'assetreport' %}" class="list-group-item border-0 list-group-item-action "> Asset Report <i class="fa  fa-file-excel-o pull-right mr-2" aria-hidden="true"></i></a>

            <a href="{% url 'addhospitaltemp' %}" class="list-group-item border-0 list-group-item-action "> Add Hospital <i class="fa  fa-hospital-o pull-right mr-2" aria-hidden="true"></i></a>

            

            {% endif %}

            {% if request.user.userprofile.adminstate > 0 %}
            <a href="{% url 'register' %}" class="list-group-item border-0 list-group-item-action ">Add User  <i class="fa  fa-user-plus pull-right mr-2" aria-hidden="true"></i></a>


            <a href="https://cov19ops.cdacchn.in/grafana" target="_blank" class="list-group-item border-0 list-group-item-action "> Over ALL View  <i class="fa   fa-university pull-right mr-2" aria-hidden="true"></i></a>   

            
            {% endif %}
            <a href="{% url 'assetmanagementimgview' %}" class="list-group-item border-0 list-group-item-action ">Hospital Status  <i class="fa   fa-hospital-o pull-right mr-2" aria-hidden="true"></i></a>

            <a href="{% url 'logout' %}" class="list-group-item border-0 list-group-item-action ">Logout <i class="fa  fa-sign-out pull-right mr-2" aria-hidden="true"></i></a>
            
      {% endif %}
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-white  border-0">
        <button id="menu-toggle" class="btn  btn-white"><i class="fa fa-bars" aria-hidden="true"></i>
</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a href="{% url 'changepassword' %}" class="nav-link"> Change Password </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link"> Logout </a>
            </li>
            
          </ul>
        </div>
      </nav>

      <div class="container-fluid"   >
        <div id="main">
	  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <!-- <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li> -->
  </ol>
</nav>

{% if messages %}

<div class="alert alert-info alert-dismissible fade show" role="alert">		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
		
<ul class="messages">


    {% for message in messages %}
    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message | safe }}</p>
    {% endfor %}

</ul>


</div>
{% endif %}


{% endblock %}		

		{% block 'content' %}
		
            
	  {% endblock %}
    {% block 'footer' %}
	    </div><footer id="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright &copy; 2020 <a href="@" target="_blank">CDAC</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a href="https://www.freepik.com/free-photos-vectors/business">Business vector created by freepik - www.freepik.com</a> </span>
            </div>
          </footer>
    {% endblock %}
  
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
</div> </div>
  <!-- Bootstrap core JavaScript -->
      <script src="{% static 'assetmgt/js/jquery.min.js' %}"></script>
      <script src="{% static 'assetmgt/js/bootstrap.bundle.min.js' %}"></script>


  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
{% block 'customjs' %}
{% endblock %}
</body>

</html>
