<div class="row mb-3">
<div class="col-12">
<div class="card">
<div class="card-body">

<form action="." method="post" class="form-inline" id="getform" data-url="{% url 'assetmgtmultiforms' %}">
          {% csrf_token %}


    <div class="form-group mb-2">

			<label for="id_hospital_id">Hospital id:</label> 
		</div>
  <div class="form-group mx-sm-3 mb-2">

		<select class="form-control" name="hospital_id" id="id_hospital_id">

  			<option value="{{ hospitals.hospital_id }}" selected> {{ hospitals.hospital_name }} </option>
		</select>
</div>

  <div class="form-group mx-sm-3 mb-2">

<input type="submit" class="btn btn-primary" name="Add Data" value="{{ submessage }}">
</div>
</form>
</div></div></div></div>