<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Thamc</title>
  <link rel="stylesheet" href="/static/css/libs/leaflet-0.7.7.css" />
  <link rel="stylesheet" href="/static/css/src/style.css" />
</head>

<body>

  <div id="totalhospitals"></div>
  <div id="patientsadmitted"></div>
  <div id="availablebeds"></div>
  <div id="availableventilators"></div>
  
  <button id="ak-reset" class="btn btn-warning">Reset</button>
  <div id='map'></div>
  <select id="assets-selector"></select>
  <canvas id="trendsChart" width="100%" height="100%"></canvas>

  <script src="/static/js/libs/jquery-3.4.1.min.js"></script>
  <script src="/static/js/libs/leaflet-0.7.7.js"></script>
  <script src="/static/js/libs/Chart.min.js"></script>

  <script src="/static/js/src/chart.js"></script>
  <script src="/static/js/src/main.js"></script>

</body>

</html>