 {% extends "assetmgt/base.html" %}


{% block 'main' %}
{% endblock %}
{% block 'content' %}
 
 <style>
    body{padding: 0;background-color: #33077c;}
    .forLogin a {     color: #fafafa !important; } .forLogin {      background-color:#33077c;  }
</style>
{% load static %}

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center forLogin"> <div class="col-md-4">  <div class="card"> <div class="card-body">
    <div class="login-logo">
        <a href="#"><img  src="{% static 'assetmgt/images/logologin.png' %}" alt="logo" /> </a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
{% if error %}
<div class="alert alert-danger">
  <i class="fa fa-exclamation-triangle" >  Incorrect credentials
</i>
</div>
		
{% endif %}
        <form action="{% url 'login' %}" method="post"> 
        {% csrf_token %}  
 <div class="form-group has-feedback">
   {% csrf_token %}
  
   {{ form.username }}
</div>
 <div class="form-group has-feedback">
   {{ form.password	}}
</div>
<div class="form-group has-feedback">
   {{ form.captcha }}
</div>
    <div class="row">
            
            <div class="col-xs-12">
 <input type="submit"  class="btn btn-warning ml-3" value='Login'/>  </div>
  
  </div>
        </form>  
            </div><!-- /.login-box-body -->  </div> </div></div> </div>
</div>
{% endblock %}
{% block 'footer' %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block 'customjs' %}

{% endblock %}