
<div class="row mb-3">
<div class="col-12">
<div class="card">
<div class="card-body">
	<h4 class="card-title">Upload/Update hospital asset details</h4>
<form action="." method="post" class="form-inline" id="getform" data-url="{% url 'assetmgtmultiforms' %}">

          {% csrf_token %}
    <div class="form-group mb-2">

			<label for="id_district_id">District id:</label>
</div>
  <div class="form-group mx-sm-3 mb-2">
			 <select class="form-control" name="district_id" required id="id_district_id">
		  <option value="" selected>--Select District--</option>
		  {% for ds in dist %}
		  <option value="{{ ds.district_id }}"> {{ ds.district_name }}</option>
		{% endfor%}

</select>
</div>
  <div class="form-group mx-sm-3 mb-2">

				<label for="id_hospital_id">Hospital id:</label> </div>
  <div class="form-group mx-sm-3 mb-2">
					<select class="form-control" name="hospital_id" id="id_hospital_id">
  					<option value="" selected>--Select Hospital--</option>

					</select>
</div>
  <div class="form-group mx-sm-3 mb-2">
			<input type="submit" class="btn btn-primary" name="Add Data" value="Update Data">
	</div>

</form>
</div></div></div></div>